.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.homepage {
  background-color: #1c2540;
  height: 100vh;
}

h1, h2, h3, h4, p, th, td {
  color: white;
}

.container {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.container img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 50%;
}


.label {
	display: block;
	font-size: larger;
	color: white;
	padding: 5px;
  text-align: center;
}

.input {
	font-size: larger;
	padding: 5px;
	margin: auto;
  display: block;
}

.btn {
	color: white;
	background-color: red;
	border-radius: 5px;
	font-size: larger;
	display: block;
	padding: 5px;
	margin: 10px auto;
}

.btn:hover {
  background-color: brown;
}

.messages {
	display: flex;
	justify-content: center;
}

.error {
	display: block;
	background-color: red;
	color: white;
	width: fit-content;
	height: 50px;
	padding: 5px;
}

.success {
	display: block;
	background-color: lightblue;
	color: black;
	width: fit-content;
	height: 50px;
	padding: 5px;
}


.userprofile {
  margin: auto;
  padding: 20px;
}

.loanmanage {
  margin: auto;
  padding: 20px;
}

.loanstatus {
  margin: auto;
  padding: 20px;
}

table { 
  border-collapse: collapse; 
}
tr:nth-child(1) { 
  border-top: 1px solid rgb(82, 78, 78); 
  border-bottom: 1px solid rgb(82, 78, 78);
}
th,td {
  margin: auto;
  padding: 10px;
}